*.DS_Store
bin
target
build
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
/src/db.properties
/src/main/resources/db.properties
/src/config.properties
/src/main/resources/config.properties
/src/main/resources/query.sql