<footer th:fragment="footer">
  	<div class="footer-section">
  		<div class="container-fluid">
  			<div class="row">
  				<div class="col-sm-6">
  					<p>© Markus Wolf, Lukas Schneider & Felix Rauchenwald - FH Joanneum 2017</p>
  				</div>
  				<div class="col-sm-6">
  					<ul>
  						<li>
  							<a href="">Terms & Conditions</a>
  						</li>
  						<li>
  							<a href="">Legal Information</a>
  						</li>
  					</ul>
  				</div>
  			</div>
  		</div>
  	</div>
  	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/script.js"></script>

  </footer>