<div class="image_content" th:fragment="poster">
    <a th:id=${movie.tmdb_id} class="result" th:href=${movie.homepage} th:title=${movie.title} th:alt=${movie.title}>
        <div th:if="${movie.poster_path != null}">
        	<div th:object="${userMovies}">
		        <div th:each="userMovie : ${userMovies}">
		            <div th:if="${userMovie.movie.id == movie.id}">
		                <span class="watched" th:if="${userMovie.seen}" th:text="WATCHED"></span>
		            </div>
		        </div>
		    </div>
		    <img class="poster" data-sizes="auto"
                 th:data-src="'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + ${movie.poster_path}"
                 th:data-srcset="'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + ${movie.poster_path} + ' 1x,
                                                https://image.tmdb.org/t/p/w370_and_h556_bestv2' + ${movie.poster_path} + ' 2x'"
                 th:alt=${movie.title} sizes="185px"
                 th:srcset="'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + ${movie.poster_path} + ' 1x,
                                            https://image.tmdb.org/t/p/w370_and_h556_bestv2' + ${movie.poster_path} + ' 2x'"
                 th:src="'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + ${movie.poster_path}">
        </div>
        <div th:if="${movie.poster_path == null}">
            <span class="no_poster" th:text=${movie.title}></span>
            No Poster available
            <!--<img class="poster" data-sizes="auto"
                 th:src="http://lexingtonvenue.com/media/poster-placeholder.jpg"
                 th:alt=${movie.title} sizes="185px">-->
        </div>
    </a>
</div>
<div class="info">
    <p class="flex">
        <a th:id=${movie.tmdb_id} class="title result" th:href=${movie.homepage} th:title=${movie.title} th:alt=${movie.title} th:text=${movie.title}></a>
        <div class="star-block"><span class="movie-stars" th:each="i : ${#numbers.sequence( 1, movie.vote_average)}"><i class="fa fa-star" aria-hidden="true"></i></span><span class="vote_average" th:text=${movie.vote_average}></span></div>
    </p>
    <p class="meta flex">
        <span class="release_date" th:text=${#calendars.format(movie.release_date,'yyyy')}><span class="glyphicons glyphicons-calendar x1"></span></span>
    </p>
    <p>
    <div class="genres" >
    	<span th:each="genre : ${movie.genres}" th:text="${genre.name}+', '"></span>
    </div>
    </p>
    <p class="view_more"> <a th:href="@{/details(id=${movie.id})}">Details</a></p>

    <form style="display:inline-block" th:action="@{/editList}" th:object="${lists}">
        <select th:name="listID" th:remove="all-but-first">
            <option th:each="list : ${lists}" th:value="${list.id}"
                    th:text="${list.name}">Options</option>
        </select>
        <input type="hidden" th:name="movie_id" th:value="${movie.id}" />
        <button type="submit" name="action" value="add" class="btn-add btn-small" ><i class="fa fa-plus" aria-hidden="true"></i></button>
    </form>
    <p>
	    <form style="display:inline-block" th:action="@{/watchedTrigger}">
	        <input type="hidden" th:name="movie_id" th:value="${movie.id}" />
	        <button type="submit" class="btn-colored" >Watched</button>
	    </form>
    </p>
</div>